* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  overflow-x: hidden;
} body.blur {
  filter: blur(10px);
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  height: 100VH;

  display: flex;
  justify-content: flex-start;flex-direction: column;
  align-items: center;
  gap: 1em;

  background-color: #222;
} 

.headers {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0 2em;
  margin-top: 2em;

  width: 90%;
  height: 10vh;
  border-bottom: 2px solid #333;
}.primary {
  color: white;
  letter-spacing: 3px;
} .table {
  width: 70%;
  height: 70vh;
  text-align: center;
} .table thead tr th {
  color: white;
} .table tbody tr td a {
  padding:10px;
  border-radius: 10px;
}


.info {
  width: 90%;
  height: 10vh;

  margin-bottom: 0.5em;

}

.infodiv {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 35%;
  height: 100%;float: right;
} .colorinfo   {
  width: 20px;
  height: 20px;
  
  border-radius: 50%;
} .darkturquoise {
  background-color: darkturquoise;
}.lawngreen {
  background-color: salmon;
} .khaki {
  background-color: gainsboro ;
}

.gap {
  display: flex;
  align-items: center;
  gap: 10px;
}.gap p {
  color: white;
}


.p {
  border: 2px solid darkturquoise;
  color: darkturquoise;
} .i {
  color: salmon;
  border: 2px solid salmon;
} .abs {
  color: gainsboro;
  border: 2px solid gainsboro;
}

.detailBox {
  width: 50vw; height: 50vh;
  position: absolute;
  margin: auto;
  inset: 0;
  z-index: 2;
  border-radius: 30px;
  background-color: #171717;
  transition: 0.3s;

  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 20% 10% 60% 10%;
  
  justify-content: center;
  align-items: center;

  overflow: hidden;
} .detailBox.active {
  display: grid;
} .detailBoxTitle {
  font-size: 2.5em;
  letter-spacing: 5px;
  align-self: end;
} 


.day {
  color: #888;
  align-self: start;
  font-size: smaller;
}

@media screen and (max-width: 768px) {
  .infodiv {
    width: 45%;
  }
}

@media screen and (max-width: 576PX) {
  .infodiv {
    width: 100%;
  }

  .table {
    width: 50vh;
    height: 50vh;
  }

  .info {
    margin: 0;
  }


}